{% extends "base.html" %}

{% block content %}
<a href="{{request.META.HTTP_REFERER}}" class="btn btn-outline-secondary" style="font-size:20px; float:left; color: #0c7cff;">&#8617;</a>

<div class="card-body">
  <div class="row">
    <div class="col-sm-3">
      <p class="mb-0">Full name:</p>
    </div>
    <div class="col-sm-9">
      <p class="text-muted mb-0">{{ author }}</p>
    </div>
  </div>
  <hr>
  {% if author.date_of_birth %}
  <div class="row">
    <div class="col-sm-3">
      <p class="mb-0">Lifetime</p>
    </div>
    <div class="col-sm-9">
      <p class="text-muted mb-0">{{author.date_of_birth}} - {% if author.date_of_death %}{{author.date_of_death}}{% endif %}</p>
    </div>
  </div>
  <hr>
  {% endif %}
  {% if author.link %}
  <div class="row">
    <div class="col-sm-3">
      <p class="mb-0">Link</p>
    </div>
    <div class="col-sm-9">
      <p class="text-muted mb-0">{{ author.link }}</p>
    </div>
  </div>
  <hr>
  {% endif %}
</div>

<h4>Books</h4>
<div class="list-group">
{% for book in author.book_set.all %}
  <a href="{% url 'book-detail' book.pk %}" class="list-group-item">
    <h5 class="mb-1">{{book}}</h5>
    <p class="mb-1">{{ book.genre.all|join:", " }}</p>
  </a>
{% endfor %}
</div>
{% endblock %}
