{% extends "base.html" %}
{% block content %}

<section>

  {% load static %}
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
      <div class="col-lg">
        <div class="card mb-4">
          <div class="card-body center">

            {% for field in form %}
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-lg">{{ field.label_tag }}</span>
                </div>
                {{ field }}
              </div>
              <hr>
            {% endfor %}

          </div>
        </div>
      </div>
    </div>

      <input class="btn btn-success btn-lg" type="submit" value="Save changes">

    <hr>
  </form>

</section>

{% endblock content %}